.logo {
    border-radius: 100%;
    width: 96px;
    height: 96px;
    display: block;
    object-fit: contain;
    object-position: initial;
    margin-left: auto;
    margin-right: auto;
    filter: none;
}

body{
    /*background-image: url(/assets/backgroundpic.png);!*/
    background-color: rgb(248, 235, 96);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.linktreetitle {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 120%;
    font-weight: 12;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.caption {
    text-align: center;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.links_item{
    display:block;
    max-width: 400px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    /*padding: 15px 20px; this is top and bottom padding for 15px and 20px is for right and left*/
    padding: 10px 20px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.links_item:active{
    transform: scale(0.9);
}

.links_item .links_item--video {
    border-bottom: 3px solid black;
    box-shadow: inset 0 -4px 0 black;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.links_item .links_item--event {
    border-bottom: 3px solid black;
    box-shadow: inset 0 -4px 0 black;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.links_item .links_item--instagram {
    border-bottom: 3px solid black;
    box-shadow: inset 0 -4px 0 black;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    color: black;
}