.logo {
    width:100px;
    height: 70px;
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 45px;
}


.linktreetitle {
    text-align: center;
    font-size: 200%;
    color: pink;
}

.links_item{
    display:block;
    max-width: 400px;
    margin: 0 auto 15px;
    margin-bottom: 5px;
    padding: 15px 20px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: black;
}

.links_item .links_item--video {
    border-bottom: 3px solid black;
    box-shadow: inset 0 -4px 0 black;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.links_item .links_item--event {
    border-bottom: 3px solid black;
    box-shadow: inset 0 -4px 0 black;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.links_item .links_item--instagram {
    border-bottom: 3px solid black;
    box-shadow: inset 0 -4px 0 black;
    border-radius: 25px;
    border: 2px solid black;
    background-color: white;
    color: black;
}